img {
    float: left;
    cursor: pointer;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    width: 100%;
}

#content p {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-size: 12px;
    line-height: 2em;
    color: #666;
    padding: 16px 0px;
}

div .pull-right {
    float: right;
}