img {
    cursor: pointer;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    width: 100%;
}

div .post {
    margin: 5% ;
    padding: 2%;
}

div .pull-right {
    float: right;
}

main {
    columns: 2;
}


#details{
    cursor: pointer;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    width: 110%;
}

.row{
    margin: 5% 0 5% 0;
}

div .post-details{
    margin: 3% 0 5% 0;
}